@charset "UTF-8";
/* Background Image */
/* line 6, ../sass/style.scss */

/* Fonts */
@font-face {
  font-family: 'ArcadeClassic';
  src: url("../font/arcadeclassic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Lighthouse';
  src: url("../font/Lighthouse_PersonalUse.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/* line 30, ../sass/style.scss */
body {
  font-family: 'coolvetica', sans-serif;
  background-color: black;
  height: 100%;
}

.themebackground {
    background-size:   cover;                  
    background-repeat: no-repeat;
}

/* line 36, ../sass/style.scss */
ul li {
  display: inline;
  list-style: none;
}

/* line 42, ../sass/style.scss */
.player-images ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
/* line 46, ../sass/style.scss */
.player-images ul li:nth-child(1) {
  padding-right: 11%;
}
/* line 49, ../sass/style.scss */
.player-images ul li:nth-child(2) {
  padding-left: 11%;
}

/* line 55, ../sass/style.scss */
.time-keeping div,
.score-keeping div {
  text-align: center;
  font-size: 75px;
  color: wheat;
}

/* line 62, ../sass/style.scss */
.score-keeping div {
  font-size: 150px;
}
/* line 64, ../sass/style.scss */
.score-keeping div ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
/* line 68, ../sass/style.scss */
.score-keeping div ul li:nth-child(1) {
  padding-right: 11%;
}
/* line 71, ../sass/style.scss */
.score-keeping div ul li:nth-child(2) {
  padding-left: 11%;
}

/* line 78, ../sass/style.scss */
.game-messages ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
}
/* line 83, ../sass/style.scss */
.game-messages li:nth-child(1) {
  padding-right: 8%;
}
/* line 86, ../sass/style.scss */
.game-messages li:nth-child(2) {
  padding-left: 8%;
}

/* line 91, ../sass/style.scss */
.title {
  height: 111px;
  font-size: 75px;
  text-align: center;
  color: wheat;
}

/* line 98, ../sass/style.scss */
.goal {
  font-size: 300px;
  position: absolute;
  width: 100%;
  top: 40px;
  color: chocolate;
}
/* line 104, ../sass/style.scss */
.goal div {
  text-align: center;
}

/* line 109, ../sass/style.scss */
.finishthem {
  font-size: 120px;
  position: absolute;
  width: 100%;
  top: 360px;
  color: chocolate;
}
/* line 115, ../sass/style.scss */
.finishthem div {
  text-align: center;
}

/* Animation of spin around */
/* Message for Players (Skunked or Winner) */
/* line 136, ../sass/style.scss */
.message1,
.message2 {
  font-size: 60px;
  color: #E06E2E;
}

/* line 142, ../sass/style.scss */
#timer {
  position: relative;
  color: wheat;
  text-align: center;
  font-size: 60px;
  margin-top: 25px;
}
