.playername {
    color: white;
    font-size: 20px;
    position: absolute;
}

.healthbar {       
    height: 30px;
    background-color: green;
}

.healthbar-container {
    width: 30%;
}

.health2 {    
    float: right
}

.healthbarcontainer {    
    width: 100%;
    height: 30px;
    background-color: red;
}

#playerhealth2 {
    float: right;
}

/*crap throw away css FIX ME*/
.locationtext {
    color: white;
    color: white;
    font-size: 28px;
    margin-top: -53px;
    margin-left: 27%;
}

.gametimer {
    font-size: 70px;
    color: red;
    font-family: fantasy;
    margin: auto;
    width: 50%;
    display: block;
}

.gamemessage {
    font-size: 70px;
    color: red;
    font-family: fantasy;
    margin: auto;
    width: 50%;
    padding-top: 200px;
    text-shadow: 3px 3px #5C5C5C;
}

.fight-background {
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;        
    height: 600px;
}



.player1 {
    height: 299px;
    width: 153px;
    position:fixed;
    left:100px;
    bottom:0px;
}

.player2 {
    height: 299px;
    width: 153px;
    float: right;
    position:fixed;
    right:100px;
    bottom:0px;
}