<link type="text/css" href="/app/themes/{{themes[currentTheme]}}/style.css" rel="stylesheet">

<div id="backdrop" tabindex="0" class="game-background"  ng-keypress="recordInput($event)">
    <div wins="1"></div>
    <div wins="2"></div>
    <!--<timer class="gametimer" interval="1000">{{mminutes}}:{{sseconds}}</timer>
    <div class="healthbar-container img-left" healthbar="1"></div>
    <div class="healthbar-container img-right" healthbar="2"></div>
    <div class="gamemessage" id="gamemessage" gamemessage></div>

    <div class="fightercontainer">
      <div class="playercontainer">
        <div class="playercontainer-inner img-left">
          <div class="taunt-box" taunt="1"></div>
          <div class="player" player="1"></div>
        </div>
      </div>
      <div class="playercontainer">
        <div class="playercontainer-inner img-right">
          <div class="taunt-box" taunt="2"></div>
          <div class="player" player="2"></div>
          </div>
        </div>
    </div>-->

    <div class="wrapper">
      <div class="header">
        <timer class="gametimer" interval="1000">{{mminutes}}:{{sseconds}}</timer>
      </div>
      <div class="header">
        <div class="healthbar-container img-left" healthbar="1"></div>
        <div class="healthbar-container img-right" healthbar="2"></div>
      </div>
      <div class="header">
        <div class="gamemessage" id="gamemessage" gamemessage></div>
      </div>
      <div class="main">
        <div class="header">
          <div class="taunt-box" taunt="1"></div>
          <div class="taunt-box" taunt="2"></div>
        </div>
        <div class="box content">
        <div class="fightercontainer">
          <div class="playercontainer">
            <div class="playercontainer-inner img-left">
              <div class="player" player="1"></div>
            </div>
          </div>
          <div class="playercontainer">
            <div class="playercontainer-inner img-right">
              <div class="player" player="2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!--<div class="fightercontainer">
      <timer class="gametimer" interval="1000">{{mminutes}}:{{sseconds}}</timer>
      <div class="healthbar-row">
        <div class="healthbar-container img-left" healthbar="1"></div>
        <div class="healthbar-container img-right" healthbar="2"></div>
      </div>
      <div class="gamemessage" id="gamemessage" gamemessage></div>
      <div class="taunt-box">
        <div class="taunt-box img-left" taunt="1"></div>
        <div class="taunt-box img-right" taunt="2"></div>
      </div>
      <div class="playercontainer">
        <div class="playercontainer-inner img-left">
          <div class="player" player="1"></div>
        </div>
        <div class="playercontainer-inner img-right">
          <div class="player" player="2"></div>
        </div>
      </div>
    </div>-->

</div>
