<link type="text/css" href="/app/themes/{{themes[currentTheme]}}/style.css" rel="stylesheet">
<!---VS avatars -->

<div class="vsbackground" id="backdrop">
  <div class="avatarcontainer">
    <div class="top-block"></div>
      <div class="avatar">
        <div class="vsavatar vs1" vsavatar="1"></div>
      </div>
      <div class="avatar">
        <div class="vsavatar vs2" vsavatar="2"></div>
      </div>
    </div>
  <!-- Entering arena X -->
  <div class="kombatzone" vslocation="random"></div>

</div>

